@font-face {
    font-family: 'conserta';
    src:url('./assets/fonts/ConsertaDemoRegular-2znv.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'northead';
    src:url('./assets/fonts/Northead-0WgdX.ttf') format('truetype');
    font-weight: 400;
}